


.slider-container-custom:hover {
  /* border-radius: 8px;
  box-shadow: 2px 6px 10px 5px #d4d4d469; */
  /* border: 2px solid #000; */
}

.feature-title h2 {
    font-weight: 600;
    font-size: 20px !important;
    text-align: left;
    font-family: "Merriweather", serif;
  }
  /* SERVICES CONTAINER ENDS HERE  */
  
  /* COLLABOARTION STARTS HERE */
  .feature-collaborations {
    height: 550px;
    width: 100%;
    margin: 0 50px;
  }

  .feature-post{
    height: 100% !important;
    width: 95%;
    margin: 0 50px;
  }



  .featured-dash {
    height: 100%;
    height: 50%;
    margin: 40px 20px;
  }
  
  .featured-dash::before {
    content: "";
    display: block;
    width: 90px;
    background: #e0b7a4;
    height: 7px;
    margin: 0 0 0 10px;
  }
  
  .featured-info {
    height: 50%;
    margin: 15px 15px;
  }
  
  .featured-info p {
    font-weight: 600;
    letter-spacing: 1px;
    text-align: left;
    color: #535453;
  }
  .featured-image img {
    height: 450px;
    width: 100%;
  }
  
  .feature-section {
    padding: 30px 35px;
  }
  
  .feature-section h2 {
    color: #161414;
    font-size: 22px;
    margin: 10px 0;
  }
  .feature-section p {
    color: #000;
    margin: 20px 0;
  }
  
  .feature-btn {
    width: 200px;
    margin: auto 50px;
    /* height: 50px; */
    display: inline-block;
    position: relative;
  }
  /* COLLABOARTION STARTS HERE */
  
  




@media screen and (max-width: 360px) {
  .feature-title h2 {
    font-weight: 600;
    font-size: 24px !important;
    text-align: center;
    font-family: "Merriweather", serif;
}


}

@media screen and (min-width: 361px) and (max-width: 412px) {
}

@media screen and (min-width: 412px) and (max-width: 575px) {
}

@media (min-width: 576px) and (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 992px) and (max-width: 1119px) {
}

@media (min-width: 1120px) and (max-width: 1399px) {

   

}

@media (min-width: 1399px) and (max-width: 1400px) {
 
}

@media (min-width: 1400px) and (max-width: 1600px){
  
}
