
/* SHIPPING CONTAINER */

.shipping-section {
    height: 400px;
    margin: auto 40px;
    background-image: url("/src/assets/background/shipping-box.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    bottom: 170px;
  }
  
  .shipping-cnt-holder {
    padding: 50px 0;
    margin: 70px;
    width: 60%;
  }
  
  
  .shipping-cnt-holder h3 {
    font-size: 30px;
    font-weight: 900;
    color: #fff;
  }
  
  
  .shipping-cnt-holder button {
    margin-top: 30px;
  }
  
  
  