/* FONTS */
/*font-family: "Merriweather", serif; */
/* font-family: "Merriweather", serif; */
/* font-family: "forbes"; */
/* font-family: "Merriweather", serif; */

.container {
  /* max-width: 1380px; */
  width: 100%;
  /* margin: auto; */
  margin-right: auto;
  margin-left: auto;
  overflow-x: unset;
}

.d-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.d-grid {
  display: row;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.d-none {
  display: none !important;
  visibility: hidden;
}

.col-full-width {
  width: 100%;
  /* border: 1px dashed #e4aa3f; */
  height: auto;
}
.col-two-width {
  width: 50%;
  /* border: 1px dashed #e4aa3f; */
  height: auto;
}
.col-three-width {
  width: 33.33%;
  margin: auto;
  /* border: 1px dashed #e4aa3f; */
  height: auto;
}
.col-four-width {
  width: 25%;
  margin: auto;
  /* border: 1px dashed #e4aa3f; */
  height: auto;
}

/* Customised width for specifics */

.col-7 {
  width: 65%;
  margin: auto;
  /* border: 1px dashed #e4aa3f; */
  height: auto;
}

.col-33 {
  width: 45%;
  margin: auto;
  /* border: 1px dashed #e4aa3f; */
  height: auto;
}

/* Customised width for specifics */

/* hide and show */

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

/* hide and show */

.space-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.space-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.space-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
.space-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}
.space-40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}
.space-50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}
.space-60 {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}
.space-70 {
  margin-top: 70px !important;
  margin-bottom: 70px !important;
}

.space-top-10 {
  margin-top: 10px !important;
}
.space-top-20 {
  margin-top: 20px !important;
}
.space-top-15 {
  margin-top: 15px !important;
}
.space-top-30 {
  margin-top: 30px !important;
}
.space-top-40 {
  margin-top: 40px !important;
}
.space-top-50 {
  margin-top: 50px !important;
}
.space-top-60 {
  margin-top: 60px !important;
}
.space-top-70 {
  margin-top: 70px !important;
}

.space-bottom-10 {
  margin-bottom: 10px !important;
}
.space-bottom-20 {
  margin-bottom: 20px !important;
}
.space-bottom-15 {
  margin-bottom: 15px !important;
}
.space-bottom-30 {
  margin-bottom: 30px !important;
}
.space-bottom-40 {
  margin-bottom: 40px !important;
}
.space-bottom-50 {
  margin-bottom: 50px !important;
}
.space-bottom-60 {
  margin-bottom: 60px !important;
}
.space-bottom-70 {
  margin-bottom: 70px !important;
}

.border {
  border: 1px dashed #000;
}

.text-center {
  text-align: center !important;
}

.bg-white {
  background: #fff !important;
}

.border-radius-5 {
  border-radius: 5px;
}
.border-radius-10 {
  border-radius: 10px;
}
.border-radius-15 {
  border-radius: 15px;
}
.border-radius-20 {
  border-radius: 20px;
}
.border-radius-25 {
  border-radius: 25px;
}

.justify-content-center {
  justify-content: center;
  align-items: center;
  align-self: center;
}

.title-one {
  font-size: 20px;
  font-weight: 400;
  font-family: "Merriweather", serif;
}
.title-three {
  font-size: 20px;
  font-weight: 600;
}
.title-four {
  font-size: 20px;
  font-weight: 700;
}
.title-five {
  font-size: 20px;
  font-weight: 900;
}

/* FORM STYLES  */

input {
  outline: none;
  font-family: "Merriweather", serif;
}

input[type="text"] {
  height: 40px;
  font-size: 18px;
  color: #2d2d2d;
}

textarea {
  height: 40px;
  font-size: 18px;
  color: #2d2d2d;
}

.form-input {
  width: 100%;
  height: 40px;
  padding: 40px;
  border: none;
  margin: 5px;
  border-bottom: 1.5px solid #8c8c8c;
  background: transparent;
}

.form-input :focus {
  /* border-bottom: 1px solid #333; */
  background: transparent;
  outline: none;
}

.form-input :active {
  border-bottom: 1px solid #333;
  background: transparent;
  outline: none;
}

input[type="text"] {
  padding-block: 1px;
  padding-inline: 2px;
}

.form-input::placeholder {
  color: rgb(158, 158, 158);
  opacity: 0.5;
  font-size: 14px;
}

.form-input:focus::placeholder {
  opacity: 0;
}

/* FORM STYLES  */

@media screen and (max-width: 360px) {
  .d-md-none {
    display: none;
  }

  .-margin-top {
    margin-top: -30px !important;
  }

  .container {
    max-width: 360px;
    margin: 8px 15px;
    overflow-x: unset;
    width: auto;
  }

  .col-two-width {
    width: 100%;
    height: auto;
  }

  .col-three-width {
    width: 100%;
    margin: auto;
    height: auto;
  }

  .row {
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .section-title-ctn h2 {
    font-size: 24px !important;
    text-align: center !important;
  }
}

@media screen and (min-width: 361px) and (max-width: 412px) {
}

@media screen and (min-width: 412px) and (max-width: 575px) {
}

@media (min-width: 576px) and (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 992px) and (max-width: 1119px) {
}

@media (min-width: 1120px) and (max-width: 1399px) {
  .container {
    max-width: 1222px;
    width: 100%;
    margin: auto;
    margin-right: auto;
    margin-left: auto;
    overflow-x: unset;
  }
}

@media (min-width: 1399px) and (max-width: 1400px) {
  .container {
    max-width: 1300px !important;
    width: 100%;
    margin: auto;
    margin-right: auto;
    margin-left: auto;
    overflow-x: unset;
  }
}

@media (min-width: 1400px) and (max-width: 1600px) {
  .container {
    max-width: 1380px;
    width: 100%;
    margin: auto;

    /* margin-right: 25px;
        margin-left: 25px; */
  }
}

/* Styles for the next and previous arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 40% !important;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

/* Styles for the next arrow */
.slick-next {
  right: -30px !important; /* Adjust position of next arrow */
}

/* Styles for the previous arrow */
.slick-prev {
  left: -55px !important; /* Adjust position of previous arrow */
}

/* Style for the dot container */
.slick-dots {
  position: absolute;
  bottom: -25px;
  left: 50%;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
/* Style for individual dot */
.slick-dots li {
  list-style: none;
  margin: 0 5px;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #f7f2f2 !important;
}

/* Style for the dot button */
.slick-dots li button {
  width: 10px; /* Adjust dot size */
  height: 10px; /* Adjust dot size */
  border-radius: 50%;
  border: 2px solid #ffffff; /* Adjust dot border */
  background-color: transparent; /* Adjust dot color */
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Style for active dot */
.slick-dots li.slick-active button {
  background-color: #10aac2; /* Adjust active dot color */
}

.slick-prev:before {
  content: "" !important;
}

.slick-next:before {
  content: "" !important;
}









@media screen and (max-width: 360px) {

}

@media screen and (min-width: 361px) and (max-width: 412px) {
}

@media screen and (min-width: 413px) and (max-width: 575px) {


}

@media (min-width: 576px) and (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 992px) and (max-width: 1119px) {
}

@media (min-width: 1120px) and (max-width: 1399px) {
}

@media (min-width: 1340px) and (max-width: 1400px) {
}

@media (min-width: 1401px) and (max-width: 1600px) {
}
